.table-dropdown {
  &.p-menu {
    min-width: 140px;
    width: unset;
    overflow: hidden;
    padding: 0;
  }
}

.btn-icon {
  outline: none;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-element {
  &.secondary {
    .p-tag {
      background-color: $tagSecondaryBg;
      color: $tagSecondaryTextColor;
    }
  }

  &.help {
    .p-tag {
      background-color: $tagHelpBg;
      color: $tagHelpTextColor;
    }
  }

  &.info {
    .p-tag {
      background-color: $tagInfoBg;
      color: $tagInfoTextColor;
    }
  }
}

.p-paginator .p-paginator-current {
  &:first-child {
    border: unset;
    order: -2;
    font-size: $ase-body3;
  }
}

.btn-action {
  .p-ripple {
    &.p-element {
      &.p-button {
        padding: 0;
        height: unset;
      }
    }
  }
}

.p-paginator {
  justify-content: flex-end;
  padding: 0;
  margin-top: 16px;

  p-dropdown.p-inputwrapper {
    order: -1;
    margin-right: auto;
  }
}

label.p-label {
  display: inline-block;
}

// loading
.ase-loading {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  text-align: center;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .loader {
    width: 50px;
    aspect-ratio: 1;
    margin: 0 auto;
    border-radius: 50%;
    background:
      radial-gradient(farthest-side, #ffa516 94%, #0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%, #ffa516);
    -webkit-mask: radial-gradient(
      farthest-side,
      #0000 calc(100% - 8px),
      #000 0
    );
    animation: l13 1s infinite linear;
  }
}

@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
