// Theme Specific Variables
$primaryColor: var(--primary-color);
$primaryColorHoverBg: var(--primary-color-hover-bg);
$secondaryColor: var(--secondary-color);
$secondaryColorHoverBg: var(--secondary-color-hover-bg);
$dangerColor: var(--danger-color);
$dangerColorHoverBg: var(--danger-color-hover-bg);
$warningColor: var(--warning-color);
$warningColorHoverBg: var(--warning-color-hover-bg);
$successColor: var(--success-color);
$backgroundGreen: var(--background-green);
$successColorHoverBg: var(--success-color-hover-bg);
$infoColor: var(--info-color);
$infoColorHoverBg: var(--info-color-hover-bg);
$helpColor: var(--help-color);
$helpColorHoverBg: var(--help-color-hover-bg);
$successLighterColor: #328a35;
$primaryDarkColor: #1e88e5;
$primaryDarkerColor: #1976d2;
$primaryTextColor: var(--primary-color-text);
$buttonSolidTextDefault: var(--button-solid-text-default);
$fontSizeRoot: 16px;
$radioButtonColor: var(--primary-color);

$colors: (
  'blue': #60a5fa,
  'green': #4caf50,
  'yellow': #fbc02d,
  'cyan': #00bcd4,
  'pink': #e91e63,
  'indigo': #3f51b5,
  'teal': #009688,
  'orange': #f57c00,
  'bluegray': #607d8b,
  'purple': #9c27b0,
  'red': #ff4032,
  'primary': #3b82f6,
);

// Mandatory Designer Variables
@import 'variables/radius';
@import 'variables/general';
@import 'variables/form';
@import 'variables/button';
@import 'variables/tag';
@import 'variables/panel';
@import 'variables/data';
@import 'variables/overlay';
@import 'variables/message';
@import 'variables/menu';
@import 'variables/media';
@import 'variables/misc';

:root {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  font-variation-settings: normal;
  --font-family: 'Poppins', sans-serif;
  --font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  --sky-500: #0ea5e9;
  --pink-500: #ec4899;
  --text-success: #22c55e;
  --text-warning: #f97316;
  --text-secondary: #747475;
}

[data-theme='light'] {
  --surface-a: #ffffff;
  --surface-b: #f8f9fa;
  --surface-c: #e9ecef;
  --surface-d: #dee2e6;
  --surface-e: #ffffff;
  --surface-f: #ffffff;
  --button-solid-text-default: #fcfcfc;
  --text-color-secondary: #5b5b5c;
  --primary-color: #f74036;
  --secondary-color: #b7251d;
  --success-color: #22c55e;
  --info-color: #0ea5e9;
  --warning-color: #f97316;
  --help-color: #a855f7;
  --danger-color: #ef4444;
  --primary-color-text: #ffffff;
  --primary-color-hover-bg: #e6271b;
  --secondary-color-hover-bg: #921a13;
  --success-color-hover-bg: #16a34a;
  --info-color-hover-bg: #0284c7;
  --warning-color-hover-bg: #ea580c;
  --help-color-hover-bg: #9333ea;
  --danger-color-hover-bg: #dc2626;
  --input-focus: #a7a7a8;
  --text-color-disabled: #5b5b5c;
  --modal-divider: #dedfe0;
  --surface-0: #ffffff;
  --surface: #f2f3f5;
  --surface-50: #fafafa;
  --surface-100: #f5f5f5;
  --surface-200: #eeeeee;
  --surface-300: #e0e0e0;
  --surface-400: #bdbdbd;
  --surface-500: #9e9e9e;
  --surface-600: #757575;
  --surface-700: #616161;
  --surface-800: #424242;
  --surface-900: #212121;
  --gray-100: #dedfe0;
  --content-padding: #{$panelContentPadding};
  --inline-spacing: #{$inlineSpacing};
  --border-radius: #{$borderRadius};
  --surface-ground: #eef5f9;
  --surface-section: #ffffff;
  --surface-card: #ffffff;
  --surface-overlay: #ffffff;
  --surface-border: #dee2e6;
  --surface-hover: #e9ecef;
  --maskbg: #{$maskBg};
  --highlight-bg: #{$highlightBg};
  --highlight-text-color: #{$highlightTextColor};
  --focus-ring: #{$focusShadow};
  // apply asean theme
  --brand-default: #f74036;
  --brand-hover: #e6271b;
  --brand-secondary: #b7251d;
  --brand-secondary-hover: #921a13;
  --brand-tertiary: #22c55e;
  --brand-tertiary-hover: #16a34a;
  --background-default: #ffffff;
  --background-surface-0: #ffffff;
  --background-surface: #f2f3f5;
  --background-onSurface: #dedfe0;
  --background-reserve: #282829;
  --background-brand: #f74036;
  --background-brand-lv1: #ffebea;
  --background-brand-lv2: #ffd8d6;
  --background-on-brand: #ffffff;
  --background-grey: #fafafc;
  --background-green: #f0fdf4;
  --background-red: #fef2f2;
  --background-yellow: #fefce8;
  --background-blue: #eff6ff;
  --background-orange: #fff7ed;
  --background-amber: #fffbeb;
  --background-lime: #f7fee7;
  --background-emerald: #ecfdf5;
  --background-teal: #f0fdfa;
  --background-cyan: #ecfeff;
  --background-sky: #f0f9ff;
  --background-indigo: #eef2ff;
  --background-violet: #f5f3ff;
  --background-purple: #faf5ff;
  --background-fuchsia: #fdf4ff;
  --background-pink: #fdf2f8;
  --background-rose: #fff1f2;
  --background-error: #ef4444;
  --background-success: #22c55e;
  --background-warning: #eab308;
  --background-inprogress: #f97316;
  --background-info: #3b82f6;
  --background-disable: #f2f3f5;
  --border-default: #dedfe0;
  --border-secondary: #a7a7a8;
  --border-reverse: #ffffff;
  --border-brand: #f74036;
  --border-on-brand: #ffffff;
  --border-error: #ef4444;
  --border-success: #22c55e;
  --border-warning: #eab308;
  --border-info: #3b82f6;
  --border-disable: #c0c0c2;
  --icon-primary: #0f0f0f;
  --icon-secondary: #8d8e8f;
  --icon-reverse: #fcfcfc;
  --icon-brand: #f74036;
  --icon-on-brand: #ffffff;
  --icon-disable: #c0c0c2;
  --icon-link: #2563eb;
  --icon-error: #ef4444;
  --icon-success: #22c55e;
  --icon-info: #3b82f6;
  --text-primary: #0f0f0f;
  --text-secondary: #5b5b5c;
  --text-tertiary: #747475;
  --text-disable: #c0c0c2;
  --text-reverse: #fcfcfc;
  --text-brand: #f74036;
  --text-on-brand: #ffffff;
  --text-link: #2563eb;
  --text-error: #ef4444;
  --text-success: #22c55e;
  color-scheme: light;
}

[data-theme='dark'] {
  --surface-a: #1f2937;
  --surface-b: #111827;
  --surface-c: rgba(255, 255, 255, 0.03);
  --surface-d: #424b57;
  --surface-e: #1f2937;
  --surface-f: #1f2937;
  --button-solid-text-default: #fcfcfc;
  --text-color-secondary: rgba(255, 255, 255, 0.6);
  --primary-color: #f74036;
  --secondary-color: #ff8983;
  --success-color: #22c55e;
  --info-color: #38bdf8;
  --warning-color: #fb923c;
  --help-color: #c084fc;
  --danger-color: #f87171;
  --primary-color-text: #030712;
  --primary-color-hover-bg: #ff6259;
  --secondary-color-hover-bg: #ffb1ac;
  --success-color-hover-bg: #16a34a;
  --info-color-hover-bg: #7dd3fc;
  --warning-color-hover-bg: #fdba74;
  --help-color-hover-bg: #d8b4fe;
  --danger-color-hover-bg: #fca5a5;
  --input-focus: #747475;
  --text-color-disabled: #5b5b5c;
  --modal-divider: #424242;
  --surface-0: #282829;
  --surface: #282829;
  --surface-50: #1f2937;
  --surface-100: #374151;
  --surface-200: #4b5563;
  --surface-300: #6b7280;
  --surface-400: #9ca3af;
  --surface-500: #d1d5db;
  --surface-600: #e5e7eb;
  --surface-700: #f3f4f6;
  --surface-800: #f9fafb;
  --surface-900: #ffffff;
  --gray-50: #f9fafb;
  --gray-100: #dedfe0;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
  --content-padding: 1.25rem;
  --inline-spacing: 0.5rem;
  --border-radius: 6px;
  --surface-ground: #111827;
  --surface-section: #111827;
  --surface-card: #1f2937;
  --surface-overlay: #1f2937;
  --surface-border: rgba(255, 255, 255, 0.1);
  --surface-hover: rgba(255, 255, 255, 0.03);
  --focus-ring: 0 0 0 0.2rem rgba(96, 165, 250, 0.2);
  --maskbg: rgba(0, 0, 0, 0.4);
  --highlight-bg: rgba(96, 165, 250, 0.16);
  --highlight-text-color: rgba(255, 255, 255, 0.87);
  // border
  --brand-default: #f74036;
  --brand-hover: #ff6259;
  --brand-secondary: #ff8983;
  --brand-secondary-hover: #ffb1ac;
  --brand-tertiary: #22c55e;
  --brand-tertiary-hover: #16a34a;
  --background-default: #0f0f0f;
  --background-surface-0: #282829;
  --background-surface: #282829;
  --background-onSurface: #424242;
  --background-reserve: #f2f3f5;
  --background-brand: #f74036;
  --background-brand-lv1: #6e0f0a;
  --background-brand-lv2: #921a13;
  --background-on-brand: #ffffff;
  --background-grey: #282829;
  --background-green: #052e16;
  --background-red: #5c0a05;
  --background-yellow: #422006;
  --background-blue: #172554;
  --background-orange: #431407;
  --background-amber: #451a03;
  --background-lime: #1a2e05;
  --background-emerald: #022c22;
  --background-teal: #042f2e;
  --background-cyan: #083344;
  --background-sky: #172554;
  --background-indigo: #1e1b4b;
  --background-violet: #2e1065;
  --background-purple: #3b0764;
  --background-fuchsia: #4a044e;
  --background-pink: #500724;
  --background-rose: #4c0519;
  --background-error: #ef4444;
  --background-success: #22c55e;
  --background-warning: #eab308;
  --background-inprogress: #f97316;
  --background-info: #3b82f6;
  --background-disable: #282829;
  --border-default: #424242;
  --border-secondary: #747475;
  --border-reverse: #0f0f0f;
  --border-brand: #f74036;
  --border-on-brand: #ffffff;
  --border-error: #ef4444;
  --border-success: #22c55e;
  --border-warning: #eab308;
  --border-info: #3b82f6;
  --border-disable: #5b5b5c;
  --icon-primary: #fafafc;
  --icon-secondary: #8d8e8f;
  --icon-reverse: #0f0f0f;
  --icon-brand: #f74036;
  --icon-on-brand: #ffffff;
  --icon-disable: #5b5b5c;
  --icon-link: #2563eb;
  --icon-error: #ef4444;
  --icon-success: #22c55e;
  --icon-info: #3b82f6;
  --text-primary: #fafafc;
  --text-secondary: #c0c0c2;
  --text-tertiary: #a7a7a8;
  --text-disable: #5b5b5c;
  --text-reverse: #fcfcfc;
  --text-brand: #f74036;
  --text-on-brand: #ffffff;
  --text-link: #2563eb;
  --text-error: #ef4444;
  --text-success: #22c55e;
  color-scheme: dark;
}
