$path-images: '/assets/icons/';
$custom-icon-map: (
  test-icon: url(#{$path-images}test.svg),
  logo: url(#{$path-images}logo.svg),
  eye: url(#{$path-images}eye.svg),
  edit: url(#{$path-images}edit.svg),
  delete: url(#{$path-images}delete.svg),
  vietnam: url(#{$path-images}vietnam.svg),
  usa: url(#{$path-images}usa.svg),
  insert: url(#{$path-images}insert.svg),
  import: url(#{$path-images}import.svg),
  system: url(#{$path-images}system.svg),
);

@each $name, $type in $custom-icon-map {
  .ase-icon-#{$name}:before {
    content: '';
    background-image: $type !important;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%; // Default height. Possible to override.
    width: 100%; // Default width. Possible to override.
    display: block;
  }
}
