$tagSuccessBg: var(--background-green);
$tagSuccessTextColor: var(--text-success);
$tagWarningBg: var(--background-orange);
$tagWarningTextColor: var(--text-warning);
$tagSecondaryBg: var(--surface);
$tagSecondaryTextColor: var(--text-secondary);
$tagHelpBg: var(--background-pink);
$tagHelpTextColor: var(--pink-500);
$tagInfoBg: var(--background-sky);
$tagInfoTextColor: var(--sky-500);
