<ng-container [formGroup]="formGroup">
  <label
    [class.ase-mb4]="actionsModify.includes(actionEvent)"
    [class.w-full]="actionsModify.includes(actionEvent)"
    class="p-label"
    [for]="controlName">
    {{ label }}
  </label>
  <ng-container *ngIf="!actionsModify.includes(actionEvent); else modify">
    <ng-template #otherControl>
      <div aseTypography fontWeight="medium">
        {{ dataView ?? formGroup.get(controlName)?.value }}
      </div>
    </ng-template>
    <ase-background-tag
      *ngIf="controlsDisplayWithTag.includes(controlName); else otherControl"
      [value]="formGroup.controls[controlName].value"></ase-background-tag>
  </ng-container>
  <ng-template #modify>
    <ng-container [ngSwitch]="controlTypes">
      <input
        *ngSwitchCase="TypeControlsEnum.INPUT"
        class="w-full"
        aseTrim
        [maxlength]="maxLength"
        [multiple]="true"
        [formControlName]="controlName"
        pInputText
        [id]="controlName" />

      <textarea
        *ngSwitchCase="TypeControlsEnum.TEXT_AREA"
        class="w-full"
        [maxlength]="maxLength"
        [formControlName]="controlName"
        pInputText
        [rows]="areaRows"
        [cols]="areaColumns"
        [id]="controlName"></textarea>

      <p-dropdown
        *ngSwitchCase="TypeControlsEnum.DROP_DOWN_ASYNC"
        styleClass="w-full"
        appendTo="body"
        [formControlName]="controlName"
        [id]="controlName"
        [inputId]="controlName"
        [options]="options"
        placeholder="Select" />
      <p-dropdown
        styleClass="w-full"
        *ngSwitchCase="TypeControlsEnum.DROP_DOWN"
        appendTo="body"
        [formControlName]="controlName"
        [id]="controlName"
        [inputId]="controlName"
        [options]="options"
        placeholder="Select">
        <ng-template pTemplate="selectedItem">
          <div aseTypography fontSize="body3" fontWeight="medium">
            {{
              formGroup.controls[controlName].value
                | aseDropdownTranslate: options
                | translate
            }}
          </div>
        </ng-template>
        <ng-template let-option pTemplate="item">
          <div aseTypography fontSize="body3" fontWeight="medium">
            {{ option.label | translate }}
          </div>
        </ng-template>
      </p-dropdown>
      <div
        *ngSwitchCase="TypeControlsEnum.RADIO_BUTTON"
        class="flex align-items-center ase-mt8">
        <div
          *ngFor="let option of options"
          class="field-checkbox ase-ml24 ase-mb0">
          <p-radioButton
            styleClass="ase-mr12"
            [inputId]="option.value"
            [name]="controlName"
            [value]="option.value"
            [formControlName]="controlName" />
          <label [for]="option.value" class="ml-2">
            {{ option.label | translate }}
          </label>
        </div>
      </div>
    </ng-container>
    <ase-input-errors
      [label]="label"
      [control]="formGroup.controls[controlName]" />
  </ng-template>
</ng-container>
