<p-sidebar
  [showCloseIcon]="false"
  (onHide)="doCancel.emit(false)"
  [style]="{ width: dialogWidth }"
  [(visible)]="visible"
  position="right">
  <ng-container>
    <ng-template pTemplate="header">
      <div
        class="sidebar-header w-full flex align-items-center justify-content-between">
        <div class="flex align-items-center justify-content-between">
          <div
            class="ase-mt4"
            (click)="doCancel.emit(false)"
            aseTypography
            textColor="default">
            <ase-icon iconName="close"></ase-icon>
          </div>
          <div
            class="ase-ml16"
            aseTypography
            fontWeight="semibold"
            fontSize="title2">
            {{ headerTitle }}
          </div>
        </div>

        <div class="header-actions">
          <ng-container
            *ngIf="
              ActionEventsEnum[dialogType] === ActionEventsEnum.EDIT ||
                ActionEventsEnum[dialogType] === ActionEventsEnum.NEW;
              else view
            ">
            <p-button
              [label]="TRANSLATION_TEXT_VIEW + 'CLOSE' | translate"
              [outlined]="true"
              (onClick)="doCancel.emit(false)" />

            <p-button
              *ngIf="ActionEventsEnum[dialogType] === 'EDIT'; else addButton"
              class="ase-ml16"
              [label]="TRANSLATION_TEXT_VIEW + 'CONFIRM' | translate"
              (onClick)="submitForm.emit()" />

            <ng-template #addButton>
              <p-button
                class="ase-ml16"
                [label]="TRANSLATION_TEXT_VIEW + 'ADD' | translate"
                (onClick)="submitForm.emit()" />
            </ng-template>
          </ng-container>
          <ng-template #view>
            <p-button
              [label]="TRANSLATION_TEXT_VIEW + 'CLOSE' | translate"
              [outlined]="true"
              (onClick)="doCancel.emit(false)" />

            <p-button
              *ngIf="
                ActionEventsEnum[dialogType] === 'APPROVE' ||
                ActionEventsEnum[dialogType] === 'REJECT'
              "
              class="ase-ml16"
              [label]="
                TRANSLATION_PATH.COMMON + ActionEventsEnum[dialogType]
                  | translate
              "
              (onClick)="submitForm.emit()" />
          </ng-template>
        </div>
      </div>
    </ng-template>
    <div
      style="border: 1px solid var(--modal-divider)"
      class="border-header ase-mb24"></div>
  </ng-container>
  <ng-template #dialogContent pTemplate="content">
    <ng-content></ng-content>
  </ng-template>
</p-sidebar>
